@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:  linear-gradient(rgba(44, 43, 43, 0.582), rgba(44, 43, 43, 0.582)), url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container{
    max-width: 400px;
    width: 100%;
    padding: 25px;
    margin: 120px auto;
    border-radius: 5px;
    background-color: rgba(224, 218, 218, 0.884);
    box-shadow: 0px 0px 42px -15px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container header{
    font-size: 30px;
    font-weight: 600;
    
}

.container .inputField{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px 0;

}

.inputField input{
    width: 70%;
    height: 30px;
    margin-right: 5px;
    border: 1px solid white;  
    padding-left: 10px;
    outline: none;
}

.inputField input:focus{
    border-color:rgb(161, 201, 96);
}

button{
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
}

.btn-add{ 
    background-color: rgb(85, 139, 72);
    color: white;
    opacity: 0.6; 
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.btn-add.active{
    opacity: 1;
    pointer-events: auto;
}

.btn-add:active{
    opacity: 0.6;
    background-color: rgb(85, 139, 72);
}


.inputField input,
.btn-add{
    border-radius: 3px;
    transition: all 0.3s ease;
}

.todoItems{
    width: 100%;
    padding: 10px 0;
}

.todoItems li{
    position: relative;
    list-style: none;
    border-radius: 3px;
    background-color: #fff;
    max-height: 70px;
    min-height: 40px;
    min-width: 290px;
    max-width: 290px;
    pointer-events: none;
    padding: 10px 0px 10px 15px;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newDivTag{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 15px 0;
}

.btn-delete{
    background: #e74c3c;
    color: white;
    margin-left: 2px;
    width: 30px;
    height: 30px; 
    text-align: center;  
}

.todoItems li button.btn-delete:hover{
    background-color: #e2a39b;
}


.todoItems li button.btn-delete.active{
    background-color: #e74c3c;
}

.container footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 10px 0;
}

.btn-del-all{
    background-color: #e2a39b;
    color: white;
    width: 60px;
    height: 30px;
    margin-top: 15px;
}

.btn-del-all.active{
    background-color: #e74c3c;
    pointer-events: auto;
}

.btn-del-all:active{
    background-color: #e2a39b;
}

.newDivTag i{
    pointer-events: none;
}







